div,button{
	font-family: "宋体";
}
.container {
	background: linear-gradient(#ffffff, #dbd9da, #ffffff);
	width: 100%;
	padding: 0px;
}
.daohang{
	width: 100%;
	height: 50px;
	position: ;
	top: 0px;
	border-bottom: 1px solid black;
	background-color: dimgrey;
	z-index: 9;
	text-align: center;
	color: white;
	font-family: "微软雅黑";
	padding-top: 0px;
}
.suggestion{
	color: #000000;
	position: absolute;
	left: 55px;
	top: 25px;
}
.user{      /*侧边栏按钮容器*/
 width: 30px;
 height: 30px;	
 padding: 0;
 margin: 0px;
 background-color: dimgrey;
 right: 35px;
 top: 10px;
 position: absolute;
}
#toppp{
	width: 40px;
	height:40px;
	position: fixed;
	bottom: 88px;
	right: 20px;
	border: 1px solid black;
	background-color: white;
	border-radius: 50%;
	opacity: 1;
	display: none;
}
img#topp{
	width: 25px;
	height: 25px;
	opacity: 1;
	position: absolute;
	right: 6px;
	top: 6px;
}
img#cebian{
	width: inherit;
	height: inherit;
}
img.logo{
	width: 45px;
}
div.logo{
	float: left;
	padding-top: 2px;
	padding-left: 5px;
}
.userpanel{
	position: fixed;
	width: 45%;
	border: 2px solid black;
	right: 5%;
	top: 40px;
	background-color: white;
	padding: 2px;
	text-align: center;
	padding: 0px;
	display: none;
}
.g_list {
	width: 100%;
	height: 150px;
	background-color: #f0efefe;
	/*border: 1px solid #e3e3e3;*/  /*老版本浅色*/
	border:  1px solid dimgrey;
	padding: 2px;
	margin-top: 5px;
}
.panelCss{
	width: 100%;
	height: 150px;
	background-color: #f4f3f3;
	/*border-right: 1px solid #e3e3e3;*/
	border-left: 1px solid dimgrey;
	border-right:1px solid dimgrey;
	border-bottom: 1px solid dimgrey;
	padding: 2px;
	margin: 0px;
}
.imgMenu {
	width: 50%;
	height: 100%;
	float: left;
}
.g_index {
	text-align: center;
	padding-top: 5px;
}
p.cssP {
	font-family: "宋体";
	font-size:  larger;
}
p.cssP2 {
	font-family: "宋体";
	font-size:  small;
}
p.cssP3 {
	font-family: "宋体";
	font-size:   small;
	margin-top: 10px;
}
.endCss{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	/*background: linear-gradient(#ebe8e8,#e1e0e0,#fcfbfb);
	background: -webkit-linear-gradient(#ebe8e8,#e1e0e0,#fcfbfb);*/
	background-color: dimgrey;
	border-top: 1px solid #000000;
	padding-left: 90px;
	font-family: "宋体";
	z-index: 11;
}
.shopCarCss{
	background-color: white;
	position: fixed;
	bottom: 2px;
	width: 50px;
	height: 50px;
	left: 25px;
	border-radius: 25px;
	border: 2px solid #000000;
	z-index: 13;
}
.shopListCss{
	position: fixed;
	width: 100%;
	/*height: 200px;*/
	left: 10%;
	bottom: 250px;
	background-color: white;
	border: 2px solid black;
	display: none;
	padding: 2px;
	z-index: 99;
}
.zhezhao{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.4;
	z-index: 10;
	left: 0px;
	top: 0px;
	display: none;
}
.imgShopcar{
	width: 40px;
	position: absolute;
	left: 3px;
	top: 5px;
	z-index: 15;
}
.btnCss{
	position: fixed;
	right: 25px;
	bottom: 10px;
	height: 30px;
	padding-top: 5px;
	border: 2px solid black;
	background-color: white;
	font-family: "宋体";
	border-radius: 5px;
	z-index: 17;
}
.shopCountCss{
	position: fixed;
	left: 60px;
	width: 20px;
	height: 20px;
	background-color: white;
	bottom: 37px;
	border: 2px solid black;
	text-align: center;
	border-radius: 10px;
	font-size: x-small;
	font-weight: 300;
	z-index: 19;
}
.wenziCss{
	font-family: "宋体";
	text-align: center;
}
.addShopCarCss{
	position: relative;
	left: 75%;
	top: 80px;
	width: 20%;
	height: 30px;
	padding-top: 5px;
	border: 2px solid black;
	background-color: white;
	font-family: "宋体";
	border-radius: 5px;
}
.shopListCss{
	padding: 15px;
	width: 80%;
}
.shopListx{
	font-family: "宋体";   
	font-size:  small;
	width: 100%;
	height: 60px;
	padding-top:10px;
	/*padding-bottom: 12px;*/
	border-bottom: 1px dashed dimgrey;
}

span#addp{
	float: right;
	width: 35px;
	height: 35px;
	border: 1px solid black;
	text-align: center;
	border-radius: 50%;
	font-size:  large;
	padding-top: 7px;
	margin-left: 4px;
	font-family: "宋体";
}
span#addx,span#addd{
	margin-left: 6px;
	float: right;
	width: 35px;
	height: 35px;
	border: 1px solid black;
	text-align: center;
	border-radius: 50%;
	font-size: large;
	padding-top: 7px;
	font-family: "宋体";
}

span#addn{
	border:  white;
	float: right;
	width: 35px;
	height: 35px;
	border: 1px solid black;
	text-align: center;
	border-radius: 50%;
	font-size: large;
	padding-top: 7px;
	margin-left: 2px;
	font-family: "宋体";
}
span#clearShopCar{
	border-radius: 0px;
	width: 40px;
	height: 40px;
	padding-top: 5px;
	border: 0px;
	float: right;
	text-align: center;
	border-radius: 12px;
	font-size: medium;
	margin-left: 2px;
	font-family: "宋体";
}
.xinxi{
	width: 100%;
	height: 50px;
	padding-top: 15px;
}
#userdingdan{
	position: absolute;
	right: 40px;
	color:  #a0a0a0;
}
.zhuohao{
	position: absolute;
	left: 15px;
	color: #A0A0A0;
}
#control{
	width: 100%;
	height: 50px;
	border-bottom: 1px  dashed dimgrey;
}
#login{
	position: absolute;
	left: 2px;
	color: #A0A0A0;
	padding-top: 15px;
}
#zhuxiao{
	position: absolute;
    left: 2px;
    color: #A0A0A0;
    padding-top: 15px;
    display: none;
}
#reg{
	position: absolute;
	right: 40px;
	color: #A0A0A0;
	padding-top: 12px;
}
a:link{
	color: #A0A0A0;
}
a:visited{
	color: #A0A0A0;
}
#fenzu{
	width: 100%;
	padding: 15px;
}
.fenzux{
	color: #A0A0A0;
	font-size: medium;
	width: 100%;
	border-top: 1px dashed dimgrey;
}
#img8{
	position: fixed;
	right: 70px;
	opacity: 0.7;
	display: none;
}
.addcarbtn{
	width: 25px;
	padding: 3px;
	border: 1px solid dimgrey;
	border-radius: 50%;
	position: relative;
	left:68px;
	bottom: 15px;
	/*background-color: white;*/
	z-index: 70;
}
